#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  color: rgba(77, 74, 84, 0.774);
  font-size: large;
  font-weight: bolder;
}

.App-container {
  width: 100%;
}

.App-header:hover {
  color: #8e6fb1;
}
